@import "compass/css3";

html {
  height: 100%;
}
body, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: 'Pathway Gothic One', calibri, arial, helvetica, sans-serif;
  font-size: 35px;
  text-shadow: 1px 1px 3px #000;
  line-height: 1.2em;
}

body {
  background: #000;
  background-image: url(../images/space.jpg);
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
}

#lr-widget {
  width: 285px;
  margin: 0 auto;
}