@import "compass/css3";

html {
  height: 100%;
  width: 100%;
}
html, body, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: 'Pathway Gothic One', calibri, arial, helvetica, sans-serif;
  font-size: 35px;
  text-shadow: 1px 1px 3px #000;
  line-height: 1.2em;
}

body {
  background: #000;
  background-image: url(../images/space.jpg);
  background-repeat: no-repeat;
  @include background-size(cover);
  background-position: center center;
  text-align: center;
  width: 100%;
  height: 100%;
  display: table;
}

.content {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 1em;
}

h1 {
  margin-top: 0;
}
p {
  margin: 1em auto;
}

#lr-widget {
  width: 100%;
  margin: 0 auto;
  
  .LR-content {
    max-width: 100% !important;  
  }
  .LR-box-wrapper {
    width: 90% !important;
    margin: 0 auto !important;
  }
  input[type="email"].LR-sign-up-input {
    width: 75% !important;
  }
}

