/* line 3, ../sass/styles.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 7, ../sass/styles.scss */
html, body, p, img {
  margin: 0;
  padding: 0;
  border: 0;
  color: #fff;
  font-family: 'Pathway Gothic One', calibri, arial, helvetica, sans-serif;
  font-size: 35px;
  text-shadow: 1px 1px 3px #000;
  line-height: 1.2em;
}

/* line 18, ../sass/styles.scss */
body {
  background: #000;
  background-image: url(../images/space.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

/* line 26, ../sass/styles.scss */
#lr-widget {
  width: 100%;
  margin: 0 auto;
}
/* line 29, ../sass/styles.scss */
#lr-widget .LR-box-wrapper {
  width: 90% !important;
  margin: 0 auto !important;
}
